*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root{
  --website-theme-color: #7DF9FF;
  --main-bg-color: #040404;
  --nav-bg-color: #141414;
  --menu-bg-color: #222;
  --header-text-color: #ffffff;
  --footer-bg-color: #333;
  --footer-text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.3);
}


nav {
  background-color: var(--nav-bg-color);
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  gap: 16px;
  align-items: center;
  padding: 10px;
  padding-inline: 10vw;
  position: relative; /* Ensure the search container can be positioned absolutely */
}

#nav-buttonm {
  display: none;
}

#search-iconm{
  display: none;
}

nav #logo {
  font-size: 1.8vw; /* Increased font size */
  font-weight: 900;
  color: var(--header-text-color);
  padding: 0px 10px 0px 0px;
  text-decoration: none;
}


nav #nav-button {
  border: none;
  border-radius: 10px;
  font-size: 1.4vw; /* Increased font size */
  background-color: transparent;
  color: var(--header-text-color);
  padding: 0px 5px 5px 5px;
  cursor: pointer;
}

nav #nav-button:hover {
  background-color: #222;
}

nav #nav-button i {
  padding: 0px 5px 0px 5px;
  transform: translateY(4px);
  font-size: 1.8vw; /* Increased font size */
}

nav input[type="text"] {
  width: 100%;
  padding: 8px 16px 8px 16px;
  border: 0.8px solid var(--border-color);
  border-radius: 5px;
}

.search-container {
  position: relative;
  max-width: 700px;
  transition: all 0.5s ease-in-out; /* Add transition for smooth effect */
  z-index: 10; /* Ensure it is above other elements */
}

.search-container.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 8px 16px;
  border: 0.8px solid var(--border-color);
  border-radius: 5px;
  transition: all 0.5s ease-in-out; /* Add transition for smooth effect */
}

.search-container.active input[type="text"] {
  width: 80%;
  font-size: 1.5rem; /* Increase font size */
}

.search-container button {
  border: none;
  background-color: transparent;
}

.search-container #search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6vw; /* Increased font size */
  font-weight: 500;
  cursor: pointer;
  z-index: 5;
  color: var(--menu-bg-color);
  pointer-events: none;
}

nav a, nav #search-icon {
  font-size: 1.5vw; /* Increased font size */
  cursor: pointer;
  color: var(--header-text-color);
  text-decoration: none;
}

nav #pricing {
  font-weight: 300;
  border-radius: 5px;
  padding: 6px;
}

nav #sign-up {
  font-size: 1.5vw; /* Increased font size */
  padding: 6px;
  color: var(--header-text-color);
  border-radius: 5px;
  text-decoration: none;
}

nav a:not(#logo):hover {
  background-color: #222222;
}

nav #wishlist {
  padding: 6px;
  border-radius: 5px;
}

body {
  background-color: var(--main-bg-color);
}

#menu-section{
  position: fixed;
  top: -250%;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-inline: 15rem;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  background-color: var(--menu-bg-color);
  z-index: 10;
  transition: 0.3s ease-in-out;
}

#menu-section__top {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: var(--header-text-color);
}

#menu-section__top a{
  color: var(--main-bg-color);
  border: var(--website-theme-color) 1px solid;
  padding: 10px;
  font-weight: 1000;
  font-size: 1.3vw;
  border-radius: 5px;
  cursor: pointer;
  transform: translateX(-20px);
  background-color: var(--website-theme-color);
  text-decoration: none;
}

#menu-section__top #close-menu{
  border-radius: 50%;
  background-color: var(--website-theme-color);
  color: var(--main-bg-color);
  width: 60px;
  height: 60px;
  border: none;
  font-size: 1.2vw;
  cursor: pointer;
}

#menu-section__top #close-menu #menu-closeicon{
  font-size: 1.9vw;
  font-weight: 300;
  color: var(--main-bg-color);
  cursor: pointer;
  padding: 10px;

}

#menu-section__container{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 80px;
}

#menu-section__container__items {
display: flex;
text-align: left;
flex-direction: column;
}

#menu-section__container__items h2 {
font-size: 1.6vw;
color: var(--header-text-color);
padding: 6px;
font-weight: 700;
cursor: pointer;
transform: translateX(-40px);
}

#menu-section__container__items i {
font-size: 1.4vw;
color: var(--website-theme-color) !important;
padding: 6px;
}

#menu-section__container__items a {
color: var(--header-text-color);
text-decoration: none;
font-size: 1.2vw;
padding: 6px;
cursor: pointer;
}

#menu-section__container__items a:hover {
text-decoration: underline var(--website-theme-color);
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* Initially hidden */
  transition: opacity 0.5s ease-in-out; /* Add transition for fade-out */
}

.loading-overlay.fade-out {
  opacity: 0;
}

.loading-spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid var(--website-theme-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade {
  transition: opacity 0.5s ease-in-out; /* Increased duration */
  opacity: 1; /* Ensure elements are visible by default */
}

.fade-out {
  opacity: 0;
}

.alert {
  position: fixed;
  top: 20px;
  right: -300px;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 10000;
}

.alert.show {
  right: 20px;
  opacity: 1;
}

.alert.alert-success {
  background-color: #4caf50;
}

.alert.alert-error {
  background-color: #f44336;
}

.alert.alert-warning {
  background-color: #ff9800;
}

.alert.alert-info {
  background-color: #2196f3;
}

.alert .close-alert {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile-sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -250px; /* Initially hidden */
  background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
  overflow-x: hidden;
  transition: left 0.5s; /* Transition effect */
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.mobile-sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--header-text-color);
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.mobile-sidebar a:hover {
  color: var(--website-theme-color);
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}

.mobile-sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--header-text-color);
  cursor: pointer;
}

.mobile-sidebar .logout-btn {
  margin-top: auto; /* Push the logout button to the bottom */
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--header-text-color);
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.mobile-sidebar .logout-btn:hover {
  color: var(--website-theme-color);
  background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
}

.mobile-sidebar.active {
  width: 250px;
}

/* Mobile styles */
@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 5vw;
  }

  .search-container, #wishlist, #nav-button {
    display: none;
  }

  #nav-buttonm, #search-iconm {
    display: block; /* Ensure it is displayed */
    border: white;
    background: transparent;
    padding: 10px;
    color: var(--header-text-color);
    background-color: transparent; /* Removed background color */
  }

  .search-container.active {
    display: flex;
  }

  .search-container.active input[type="text"] {
    width: 80%;
    font-size: 1.5rem;
  }

  .search-container.active #search-icon {
    color: #ffffff;
    font-size: 2rem;
  }

  nav #pricing {
    background-color: var(--website-theme-color);
    color: #000;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
  }

  nav #pricing:hover {
    background-color: #fff;
    color: var(--website-theme-color);
  }

  /* Updating font sizes */
  nav #logo, #pricing, nav #auth-link{
    font-size: 3vw; /* Increased font size */
  }
}

