{% block footer %}
{% load static %}
<link rel="stylesheet" href='{% static "css/footer.css" %}' />
<div class="footer-wrapper">
    <div class="footer-content">
        <div class="footer-links">
            <a href="#">About Us</a>
            <a href="#">Credits</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="social-media-links">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
        </div>
        <p class="copyright">&copy; 2022 The Movie App. All rights reserved.</p>
    </div>
</div>

{% endblock footer %}