{% extends "base.html" %} 
{% block title %}Homepage{% endblock %}
{% block content %} 
{% load static %}
<link rel="stylesheet" href='{% static "css/home.css" %}' />
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>

<div class="main__container w-full mt-10 px-10 md:px-[6rem] lg:px-[10rem] flex flex-col lg:flex-row bg-transparent gap-6">
  <!-- Poster-section -->
  <div class="w-full lg:w-[70%] max-h-[500px] relative rounded-md overflow-hidden">
    <div class="relative w-full h-full">
      <a href="{% url 'room' popular_movies.0.id %}" class="block w-full h-full">
        <img src="{{ popular_movies.0.backdrop_url }}" alt="movie-backdrop" class="object-cover w-full h-full transition duration-300 ease-in-out rounded-md hover:brightness-90" />
      </a>
      <i class="bx bxs-chevron-left absolute left-0 top-1/2 -translate-y-1/2 border border-gray-400 text-4xl text-white z-20 bg-white/20 hover:bg-white/10 hover:text-[var(--website-theme-color)] cursor-pointer transition"></i>
      <i class="bx bxs-chevron-right absolute right-0 top-1/2 -translate-y-1/2 border border-gray-400 text-[2.5rem] text-white z-20 bg-white/20 hover:bg-white/10 hover:text-[var(--website-theme-color)] cursor-pointer transition"></i>
    </div>

    <a href="{% url 'room' popular_movies.0.id %}" class="block">
      <div class="w-full max-h-[250px] bg-gradient-to-b from-transparent to-black px-5 py-5 flex items-center relative -translate-y-[75%] rounded-xl">
        <img src="{{ popular_movies.0.poster_url }}" alt="movie-poster" class="w-[150px] h-[240px] rounded-md transition hover:brightness-90" />
        <a href="{% url 'add_to_watchlist' popular_movies.0.id %}" class="absolute top-2 left-[16%] text-white text-xl bg-black/50 rounded-full p-1 hover:bg-[var(--website-theme-color)] transition">
          <i class="bx bx-bookmark-plus"></i>
        </a>

        <div class="flex flex-col ml-6">
          <i class="p-1 text-5xl text-white transition cursor-pointer hover:text-[var(--website-theme-color)] bx bx-play-circle"></i>
          <div>
            <h2 class="mb-2 text-2xl text-white">{{ popular_movies.0.title }}</h2>
            <p class="text-lg text-gray-300">Watch the trailer</p>
            <p class="flex items-center gap-2 text-base text-gray-300">
              <i class="text-lg text-white cursor-pointer bx bx-heart"></i> {{ popular_movies.0.likes }}
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Movie-list section -->
  <div class="w-full lg:w-[30%] h-auto lg:h-[560px] bg-transparent rounded-md flex flex-col items-start gap-3 px-4">
    <h2 class="text-xl font-semibold text-[var(--website-theme-color)]">Up next</h2>
    <div class="flex flex-col w-full gap-4 px-2 bg-gradient-to-b from-neutral-900 via-neutral-900 to-transparent">
      {% for movie in additional_movies %}
      <a href="{% url 'room' movie.id %}" class="w-full">
        <div class="flex items-center gap-4 w-full h-[150px] cursor-pointer">
          <img src="{{ movie.poster_url }}" alt="movie-poster" class="w-[90px] h-[130px] rounded-md object-cover" />
          <div>
            <h3 class="text-base text-white">{{ movie.title }}</h3>
            <p class="text-sm text-gray-300">Release Date: {{ movie.release_date }}</p>
            <p class="flex items-center gap-2 text-sm text-gray-300">
              <i class="bx bx-heart"></i>{{ movie.likes }}
            </p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <a href="{% url 'top-50-movies' %}" class="text-white hover:text-[var(--website-theme-color)] text-base flex items-center gap-1 transition">
      Browse More <i class="bx bx-chevron-right"></i>
    </a>
  </div>
</div>

<div id="featured">
  <h2>Featured Movies</h2>
  <div id="featured-container">
    <a href="{% url 'genre_movies' genre_id=10749 %}">
      <div id="features">
        <img src="{% static 'Images/Genre_pics/R.jpg' %}" alt="Genre_pic" id="feature">
        <h3 id="description">Top 20 Romance Movies</h3>
      </div>
    </a>
    
    <a href="{% url 'genre_movies' genre_id=28 %}">
      <div id="features">
        <img src="{% static 'Images/Genre_pics/A.jpg' %}" alt="Genre_pic" id="feature">
        <h3 id="description">Top Action Movies</h3>
      </div>
    </a>
    
    <a href="{% url 'genre_movies' genre_id=27 %}">
      <div id="features">
        <img src="{% static 'Images/Genre_pics/H.jpg' %}" alt="Genre_pic" id="feature">
        <h3 id="description">Best of Horror</h3>
      </div>
    </a>
    
    <a href="{% url 'genre_movies' genre_id=9648 %}">
      <div id="features">
        <img src="{% static 'Images/Genre_pics/M.jpg' %}" alt="Genre_pic" id="feature">
        <h3 id="description">Best 20 Mystery Movies</h3>
      </div>
    </a>
    
    <a href="{% url 'anime' %}">
      <div id="features">
        <img src="{% static 'Images/Genre_pics/RA.jpg' %}" alt="Genre_pic" id="feature">
        <h3 id="description">Find Top 20 Animation Shows</h3>
      </div>
    </a>
  </div>
</div>

<div class="celebrities-section">
  <i id="celebrity-list__prev" class="bx bx-chevron-left"></i>
  <i id="celebrity-list__next" class="bx bx-chevron-right"></i>
  <h2><a href="{% url 'celebrities_list' %}">Top Celebrities</a> <i class="bx bx-chevron-right"></i></h2>
  <div id="celebrities-container">
    <!-- Celebrity list items will be dynamically generated here -->
    {% for celebrity in celebrities %}
    <a href="{% url 'celebrity_profile' celebrity.id %}">
      <div class="celebrity-card" data-tilt data-tilt-max="25" data-tilt-speed="400">
        <img src="{{ celebrity.profile_picture_url }}" alt="celebrity-profile-pic" class="celebrity-card__pic" />  
        <h3>{{ celebrity.name }}</h3>
        <p>({{ celebrity.popularity }})</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="watchlist-section">
  <h2>Watchlist</h2>
  <div id="watchlist-container">
    {% if request.user.is_authenticated %}
    <!-- Watchlist items will be dynamically generated here -->
    {% for movie in watchlist %}
    <div class="watchlist-card">
      <a href="{% url 'room' movie.id %}">
        <img src="{{ movie.poster_url }}" alt="movie-poster" class="watchlist-card__poster" />
        <div class="watchlist-card__details">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.title }}</p>
          <p><i class="bx bx-heart"></i>{{ movie.likes }}</p>
        </div>
      </a>
      <a href="{% url 'remove_from_watchlist' movie.id %}" class="remove-btn"><i class='bx bx-x'></i></a>
    </div>
    {% endfor %}
    {% else %}
    <p id="watchlist-login">Login to view your watchlist</p>
    {% endif %}
  </div>
</div>

<div class="top-movies-section">
  <h2>Top Movies</h2>
  <i id="top-movie-list__prev" class="bx bx-chevron-left"></i>
  <i id="top-movie-list__next" class="bx bx-chevron-right"></i>
  <div id="top-movies-container">
    <!-- Top movies list items will be dynamically generated here -->
    {% for movie in top_movies %}
    <a href="{% url 'room' movie.id %}">
      <div class="top-movies-card">
        <img src="{{ movie.poster_url }}" alt="movie-poster" class="top-movies-card__poster" />
        <div class="top-movies-card__details">
          <h3>{{ movie.title }}</h3>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="popular-genre-section">
  <h2>Popular Genres</h2>
  <i id="popular-genre-list__prev" class="bx bx-chevron-left"></i>
  <i id="popular-genre-list__next" class="bx bx-chevron-right"></i>
  <div id="popular-genre-container">
    <!-- Popular genre list items will be dynamically generated here -->
    {% for genre in top_genre %}
    <a href="{% url 'genre_movies' genre_id=genre.id %}">
      <div class="popular-genre-card">
        <img src="{{ genre.poster_url }}" alt="genre-poster" class="popular-genre-card__poster" />
        <h3>{{ genre.name }}</h3>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="top-box-office">
  <h2>Top Box Office Movies</h2>
  <div id="top-box-office-container">
    <!-- Top box office movies list items will be dynamically generated here -->
    <div class="column">
      {% for movie in top_box_office %}
      {% if forloop.counter0|divisibleby:2 %}
      <div class="top-box-office-item">
        <span>{{ forloop.counter }}.</span>
        <img src="{{ movie.poster_url }}" alt="movie-poster" class="top-box-office-item__poster" />
        <div class="top-box-office-item__details">
          <span>{{ movie.title }}</span>
          <span>Revenue: {{ movie.revenue }}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="column">
      {% for movie in top_box_office %}
      {% if not forloop.counter0|divisibleby:2 %}
      <div class="top-box-office-item">
        <span>{{ forloop.counter }}.</span>
        <img src="{{ movie.poster_url }}" alt="movie-poster" class="top-box-office-item__poster" />
        <div class="top-box-office-item__details">
          <span>{{ movie.title }}</span>
          <span>Revenue: {{ movie.revenue }}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="comingsoon-list">
  <h2>Coming Soon In Theaters</h2>
  <i id="comingsoon-list__prev" class="bx bx-chevron-left"></i>
  <i id="comingsoon-list__next" class="bx bx-chevron-right"></i>
  <div id="comingsoon-list-container">
    <!-- Coming soon movies list items will be dynamically generated here -->
    {% for movie in upcoming_movies %}
    <a href="{% url 'room' movie.id %}">
      <div class="comingsoon-list-card">
        <img src="{{ movie.backdrop_url }}" alt="backdrop-poster" class="comingsoon-list-card__poster" />
        <div class="comingsoon-list-card__details">
          <h3>{{ movie.title }}</h3>
          <p><i class="bx bx-play-circle"></i> Play Trailer</p>
          <p><i class="bx bx-heart"></i>{{ movie.likes }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="top-news">
  <h2>Top News</h2>
  <div id="top-news-container">
    <!-- Top news articles will be dynamically generated here -->
    {% for article in top_news %}
    <a href="{{ article.url }}">
      <div class="top-news-card">
        <img src="{{ article.image_url }}" alt="news-image" id="news-image">
        <h3>{{ article.title }}</h3>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<div class="recently-viewed-pages">
  <h2>Recently Viewed Pages</h2>
  <form method="post" action="{% url 'clear_recently_viewed' %}">
    {% csrf_token %}
    <button type="submit" class="clear-recently-viewed-btn">Clear</button>
  </form>
  <div id="recently-viewed-pages-container">
    <!-- Recently viewed pages list items will be dynamically generated here -->
    {% for page in recently_viewed_pages %}
    <a href="{{ page.url }}">
      <div class="recently-viewed-page-card">
        <h3>{{ page.title }}</h3>
        <p>{{ page.summary }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% if request.user.is_authenticated %}
<div class="logout-section">
  <a href="{% url 'logout' %}">Logout</a>
</div>
{% else %}
<div class="login-section">
  <a href="{% url 'login' %}">Sign-in for more access</a>
</div>
{% endif %}

<!-- Add a hidden element to store the popular movies data -->
<script type="application/json" id="popular-movies-data">{{ popular_movies|escapejs }}</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const popularMovies = {{ popular_movies|safe }};
    let currentIndex = 0;

    const backdrop = document.getElementById('backdrop');
    const poster = document.getElementById('poster');
    const posterLink = document.getElementById('poster-section-link');
    const backdropLink = document.getElementById('backdrop-link');
    const wishlistLink = document.getElementById('wishlist-link');
    const movieDetails = document.getElementById('movie-details');

    function updateMovie(index) {
      const movie = popularMovies[index];
      backdrop.classList.add('fade-out');
      poster.classList.add('fade-out');

      setTimeout(() => {
        backdrop.src = movie.backdrop_url;
        poster.src = movie.poster_url;
        posterLink.href = `/room/${movie.id}`;
        backdropLink.href = `/room/${movie.id}`;
        wishlistLink.href = `/add_to_watchlist/${movie.id}`;
        movieDetails.querySelector('h2').textContent = movie.title;
        movieDetails.querySelector('p:nth-of-type(2)').innerHTML = `<i class="bx bx-heart" id="upvotes"></i>${movie.likes}`;

        // Remove fade-out class after updating content
        backdrop.classList.remove('fade-out');
        poster.classList.remove('fade-out');
      }, 300); // Duration of the fade-out transition
    }

    document.getElementById('poster-control').addEventListener('click', function() {
      currentIndex = (currentIndex - 1 + popularMovies.length) % popularMovies.length;
      updateMovie(currentIndex);
    });

    document.getElementById('poster-controls').addEventListener('click', function() {
      currentIndex = (currentIndex + 1) % popularMovies.length;
      updateMovie(currentIndex);
    });
  });
</script>

{% endblock %}
