<div id="menu-section">
    <div id="menu-section__top">
    <a href="{% url "home" %}" id="menu-logo">CHILLx</a>
    <button id="close-menu"><i id="menu-closeicon" class="bx bx-x"></i></button>
    </div>
    
    <div id="menu-section__container">
        <div id="menu-section__container__items">
            <h2><i class="bx bx-movie-play"></i>Movies</h2>
            <a href="#">Releases Calender</a>
            <a href="#">Top 250 movies</a>
            <a href="#">Most Popular Movies</a>
            <a href="#">Browse movies by Genre</a>
            <a href="#">Top box office</a>
            <a href="#">My List</a>
            <a href="#">Add to My List</a>
            <a href="#">Remove from My List</a>
        </div>
        <div id="menu-section__container__items">
            <h2><i class="bx bxs-user"></i>My Account</h2>
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="#">Sign Out</a>
        </div>
        <div id="menu-section__container__items">
            <h2><i class="bx bx-bookmark-plus"></i>Watchlist</h2>
            <a href="#">View Watchlist</a>
            <a href="#">Add to Watchlist</a>
            <a href="#">Remove from Watchlist</a>
            <a href="#">Clear Watchlist</a>
            <a href="#">Clear All Watchlist</a>
            <a href="#">Share Watchlist</a>
            <a href="#">Share Watchlist with Friends</a>
            <a href="#">Share Watchlist with Family</a>
        </div>
        <div id="menu-section__container__items">
            <h2><i class="bx bx-plus-circle"></i>More</h2>
            <a href="#">About Us</a>
            <a href="#">Press</a>
            <a href="#">Press Kit</a>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
            <a href="#">Cookie Preferences</a>
            <a href="#">Cookie Settings</a>
        </div>
        <div id="menu-section__container__items">
            <h2><i class="bx bx-help-circle"></i>Help & Support</h2>
            <a href="#">FAQ</a>
            <a href="#">Contact Us</a>
            <a href="#">Help Center</a>
        </div>
        <div id="menu-section__container__items">
            <h2><i class="bx bx-globe"></i>Community</h2>
            <a href="#">Help Center</a>
            <a href="#">Contributer Zone</a>
            <a href="#">Polls</a>
        </div>
    </div>

</div>